/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $color-pack: false,
  $body-font-family: 'Noto Sans KR, sans-serif',
  $heading-font-family: 'Noto Sans KR, sans-serif'
);

body {
  margin: 0;
  padding: 0;
}
